<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> More Ore </title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

    <div class="app-container">

      <div class='section left'>
        <ul class="section-left-tabs">
          <li class='tab inventory-tab selected'>Inventory</li>
          <li class='tab stats-tab'>Stats</li>
        </ul>
      </div>
      <div class='section middle'></div>
      <div class='section right'></div>

    </div> <!-- page-container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="scripts.js"></script>

  </body>

</html>
