* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

.app-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.section {
  /*display: relative;*/
  height: 99%;
  width: 33%;
  border: 1px solid black;
}

.section-left-tabs li {
  display: inline-block;
  float: left;
  padding: 5px 10px;
  border: 1px solid black;
}

.section-left-tabs li:hover {
  cursor: pointer;
}

.selected {
  border-bottom: none !important;
}
