section.right-section {
  position: relative;
  width: 30%;
  height: 99%;
  border: 2px solid black;
  background: white;
  overflow: hidden;
}

#furnace {
  background: lightgrey;
}

#tavern {
  background: lightgrey;
}

#quests {
  background: lightgrey;
}

.right-section-tabs {
  position: relative;
  width: 100%;
  height: 10vh;
  line-height: 10vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.right-section-tab {
  display: inline-block;
  border-bottom: 2px solid black;
  font-size: 1.5vw;
  height: 100%;
  width: 25%;
  text-align: center;
  cursor: pointer;
}

.right-section-tab:not(:last-child) {
  border-right: 2px solid black;
}

.right-section-tabs-content {
  position: absolute;
  height: 90vh;
  width: 100%;
  overflow: auto;
}

.right-section-tab-content h1 {
  text-align: center;
  border-bottom: 2px solid black;
  font-size: 2vw;
}

.right-section-tabs-content-furnace {
  display: none;
}

.right-section-tabs-content-tavern {
  display: none;
}

.right-section-tabs-content-quests {
  display: none;
}

.right-section-tabs-content-upgrades button {
  position: relative;
  /*height: 8vw;*/
  /*width: 95%;*/
  height: 7.5vw;
  width: 85%;

  margin-top: 5%;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  font-size: 1.5vw;
  cursor: pointer;
  text-align: center;

  color: #222;
  background-color: #eee;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
}

.right-section-tabs-content-upgrades button:hover {
    background-color: #e3e3e3;
    border-color: rgba(0, 0, 0, 0.5);
}

.right-section-tabs-content-upgrades button:active {
  background-color: #CCC;
  border-color: rgba(0,0,0,0.9);
}

.right-section-tabs-content-upgrades button p {
  text-align: center;
  font-size: 1.5vw;
}

.furnace {
  position: relative;
  height: 20vw;
  width: 20vw;
  background-image: url('../../../assets/furnace_inactive.png');
  background-size: contain;
  left: 50%;
  margin-top: 5%;
  transform: translateX(-50%);
  cursor: pointer;
}













