* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto';
}

button {
  cursor: pointer;
}

.section#middle {
  background-image: url('http://eskipaper.com/images/cave-background-1.jpg');
  /*background-size: cover;*/
}

.upgrade-pickaxe-modal {
  z-index: 1;
  display: none;
  background: white;
  position: fixed;
  height: 30vh;
  width: 60vw;
  border: 2px solid black;
  bottom: 5%;
  box-shadow: 0px 5px 5px black;
}

.upgrade-pickaxe-modal > h1 {
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 4vh;
}

.upgrade-pickaxe-modal > p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
  text-align: center;
}

.upgrade-pickaxe-modal > footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 3vh;
}

.app-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.tab-description {
  text-align: center;
  /*background: yellow;*/
  font-size: 4vh;
  padding: 3%;
  position: relative;
  top: 2%;
}

.section {
  position: relative;
  background-color: /*yellow*/;
  height: 99%;
  width: 33%;
  border: 1px solid black;
  overflow-y: hidden;
}

.section #left {
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  /*height: 7vh;*/
  height: 7%;
  width: 100%;
  line-height: 7vh;
}

.tab {
  position: relative;
  border-bottom: 1px solid black;
  padding: 0 2vw;
  width: 50%;
  text-align: center;
  font-size: 3vw;
  cursor: pointer;
}

.tab:not(:last-child) {
  border-right: 1px solid black;
}

.section-title {
  font-size: 4vh;
  border-bottom: 1px solid black;
  text-align: center;
}

.tab-content {
  position: relative;
  /*background-color: red;*/
  /*text-align: center;*/
  font-size: 3vh;
  height: 100%;
}

.wrapper {
  position: absolute;
  height: 93%;
  width: 100%;
}

.upgrades-tab-content {
/*  position: relative;
  height: 100%;
  width: 100%;*/

/*  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
*/
}

.upgrade-button:last-child {
  margin-bottom: 5%;
}

.upgrade-button {
  position: relative;
  width: 90%;
  height: 14vh;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  border-radius: 15px;
  outline: none;
  color: white;
  border-width: 5px;
  background-image: linear-gradient(to bottom, #858585, #394952);
}

.upgrade-button-text {
  font-size: 5vh;
}

.upgrade-button-price {
  font-size: 3vh;
}

.upgrade-button:hover {
  background-image: linear-gradient(to bottom, #bababa, #7f8182);
}

.upgrade-pickaxe {
  margin-top: 0;
}

.tab-content ul li {
  padding-left: 5%;
}

.wrapper {
  overflow: auto;
  position: relative;
}

.selected {
  border-bottom: none;
}

.rock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  width: auto;
  cursor: pointer;
}

/*.inventory-section li span {
  position: absolute;
  right: 5%;
}*/

.amount-container {
  position: absolute;
  right: 5%;
}

.right-tab {
  font-size: 2vh;
}
