section.left-section {
  position: relative;
  width: 30%;
  height: 99%;
  border: 2px solid black;
  background: white;
  overflow: hidden;
}

.left-section-tabs {
  position: relative;
  width: 100%;
  height: 10vh;
  line-height: 10vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.left-section-tab {
  display: inline-block;
  border-bottom: 2px solid black;
  font-size: 1.5vw;
  height: 100%;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.left-section-tab:not(:last-child) {
  border-right: 2px solid black;
}

.left-section-tabs-content {
  position: absolute;
  height: 90vh;
  width: 100%;
  overflow: auto;
}

.left-section-tab-content h1{
  text-align: center;
  border-bottom: 2px solid black;
  font-family: 'PT Sans Narrow';
  font-size: 2vw;
}

.left-section-tab-content p{
  text-align: left;
  font-size: 1.5vw;
  padding: 0 5px;
}

.left-section-tab-content p span {
  float: right;
}

.left-section-tabs-content-stats {
  display: none;
}

.selected {
  border-bottom: none !important;
}

#stats {
  background-color: lightgrey;
}

.save-game-button {
  position: absolute;
  bottom: 4%;
  height: 4vw;
  width: 70%;

  left: 50%;
  transform: translateX(-50%);
  outline: none;
  font-size: 2vw;
  cursor: pointer;
  text-align: center;

  color: #666;
  background-color: #eee;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
}

.save-game-button:hover {
    background-color: #e3e3e3;
    border-color: rgba(0, 0, 0, 0.5);
}

.save-game-button:active {
  background-color: #CCC;
  border-color: rgba(0,0,0,0.9);
}
