@import 'mixins';
@import 'variables';

@include google-font('Roboto')

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.app-container {
  position: fixed;
  height: 100vh;
  width: 100vw;

  @include flex-row-no-wrap;
  justify-content: space-around;
  align-items: center;

  .upgrade-pickaxe-modal {
    @include small-modal;
  }

  .buy-furnace-modal {
    @include small-modal;
  }

  .page-cover {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
  }

  .furnace1-modal {
    @include furnace-modal;
  }

  .furnace2-modal {
    @include furnace-modal;

  }


  section.left-section {
    @include section;

    .left-section-tabs {

      & .selected {
        border-bottom: none !important;
      }

      position: relative;
      width: 100%;
      height: 10vh;
      line-height: 10vh;

      @include flex-row-no-wrap;

      .left-section-tab {
        display: inline-block;
        border-bottom: $border-size;

        font-size: $tab-font-size;
        height: 100%;
        width: 50%;
        text-align: center;
        cursor: pointer;

        &:not(:last-child) {
          border-right: $border-size;
        }
      }
    }

    .left-section-tabs-content {
      position: absolute;
      height: 90vh;
      width: 100%;
      overflow: auto;

      &-inventory {
        @include tab-content;
      }
      &-stats {
        @include tab-content;
      }
    }
  }

  section.middle-section {
    @include section;
    background-image: url('http://piq.codeus.net/static/media/userpics/piq_157402_400x400.png');

    .ore-image {
      position: relative;
      height: 20vw;
      width: auto;
      cursor: pointer;
      @include centerAnything;

    }

  }

  section.right-section {
    @include section;

    .right-section-tabs {

      & .selected {
        border-bottom: none !important;
      }

      position: relative;
      width: 100%;
      height: 10vh;
      line-height: 10vh;

      @include flex-row-no-wrap;

      .right-section-tab {
        display: inline-block;
        border-bottom: $border-size;

        font-size: $tab-font-size/2;
        height: 100%;
        width: 25%;
        text-align: center;
        cursor: pointer;

        &:not(:last-child) {
          border-right: $border-size;
        }
      }
    }

    .right-section-tabs-content {
      position: absolute;
      height: 90vh;
      width: 100%;
      overflow: auto;

      &-upgrades {
        @include tab-content;

        button {
          @include buttons;
        }

        button:hover {
          opacity: 0.5;
        }
      }

      &-furnace {
        @include tab-content;

        .furnace {
          position: relative;
          height: 15vw;
          width: 15vw;
          background-image: url('../assets/furnace_inactive.png');
          background-size: contain;
          left: 50%;
          margin-top: 5%;
          transform: translateX(-50%);
          cursor: pointer;
        }
      }

      &-tavern {
        @include tab-content;
      }

      &-quests {
        @include tab-content;
      }
    }
  }

}
